:root {
    --cor-blue-light: #E4E9EE;
    --cor-blue-light-light: #ECF0F3;
    --cor-blue-dark: #464A64;
    --cor-grey-blue: #797D95;
    --cor-blue-primary: #1D8DE3;
}

/* ******** DISPLAYS DEFAULTS ******** */


.display-1 {
    font-family: 'Ubuntu', sans-serif;
    /*font-size: calc(1rem + 5vw);*/
    font-size: clamp(3rem, 1rem + 5vw, 6rem);
    line-height: 1.2;
    font-weight: 300;
    margin: 0;
}


.display-2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: clamp(2rem, 1rem + 2vw, 3rem);
    font-weight: 500;
}

.display-6 {
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0;
    font-size: clamp(12px, 1.3rem, 1.5rem);
    line-height: 1.3;
}

.link--arrow--rigth {
    color: var(--cor-grey-blue);
    font-size: 1rem;
    font-weight: 400;
    position: relative;
}

.link--arrow--rigth::after {
    content: '';
    background-image: url('../images/arrow-blue.png');
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    background-size: 10px 6px;
    margin-left: 10px;
    position: absolute;
    right: -22px;
    top: 7px;
}

.active {
    color: var(--cor-blue-primary);
    font-weight: 600;
    border-bottom: solid 3px var(--cor-blue-primary);
}

/* ******** FIM DISPLAYS DEFAULTS ******** */

.btn-primary {
    background: linear-gradient(130.9deg, #239CE5 -4.14%, #0B5FDF 110.88%);
    box-shadow: 0px 12px 35px rgba(0, 0, 0, 0.21);
    color: white;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
}


body {
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
}

h1, h2, h3 {
  padding: 0;
  margin: 0;
}




.theme-light {
    background: var(--cor-blue-light);
    color: var(--cor-blue-dark);
    font-family: 'Ubuntu', sans-serif;
}

.theme-light-light {
    background: var(--cor-blue-light-light);
    color: var(--cor-blue-dark);
    font-family: 'Ubuntu', sans-serif;
}

.theme-dark {
    background: var(--cor-blue-dark);
    color: var(--cor-blue-light-light);
}

.border {
    border: solid 1px red;
}

/* FIM PRÉ DEFINIÇÕES */


/***** CONSTRUÇÃO LAYOUT *****/


/* header */

.navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 980px;
    margin: auto;
    height: 110px;
    box-sizing: border-box;
}

.navbar__brand img{
    width: 100px;
}

.navbar__list {
    display: flex;
    gap: .5rem;
}

.navbar__item a {
    display: block;
    padding: 8px 16px;
}

/* fim header */
/* start home */

.section-home {
    display: flex;
}

.container-sc-home {
    max-width: 1000px;
    margin: auto;
    height: calc(100vh - 110px);
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.sc-home-destaque {
    width: 70%;
}

.sc-home-destaque .display-1 {
    font-weight: 500;
    font-size: clamp(3rem, 1rem + 4vw, 5rem);
}

.description-oferecemos {
    margin-top: 10px;
    max-width: 70%;
}


/* start card */


.card-reserve-um-atendimento {
    width: 82%;
    margin-top: 20px;
    position: relative;
    z-index: 1;
    margin-top: 3.5rem;
}

.reserve-um-atendimento-title {
    font-size: .8rem;
    font-weight: bold;
}

.card-container-reserve-um-atendimento {
    background: linear-gradient(90deg, #ECEFF2 0.74%, rgba(236, 239, 242, 0.85) 108.25%);
    box-shadow: -5px 31px 43px rgba(0, 0, 0, 0.08);
    max-width: 980px;
    height: 130px;
}

.container-reserve-um-atendimento {
    margin-top: 15px;
    padding: 0 30px;
}


.container-reserve-um-atendimento {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


.bg-cinza {
    height: 600px;
    width: clamp(50px, 400px, 800px);
    border-radius: 10px;
    position: absolute;
    z-index: 0;
    right: -100px;
    display: flex;
}

.bg-cinza::after {
    content: '';
    background-image: url('../images/foto-medico-web.png');
    width: 400px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: 400px;
    position: absolute;
    margin-top: 42px;
    margin-left: 50px;
}

#btn-mobile {
    display: none;
}

@media (max-width: 600px) {
    #btn-mobile {
        display: block;
    }
}